<section class="csf-flex-table">
    @for (var i = 0; i < this.Rows.Count; i++)
    {
        var row = this.Rows[i];
        if (row.IsHeaderRow)
        {
            <section class="csf-flex-table-header">
                @foreach (var column in row.Columns)
                {
                    <div class="@column.CssClass">@column.Text</div>
                }
            </section>
        }
        else
        {
        <section class="csf-flex-table-body">
            <section class="csf-flex-table-row-group">
                <section>
                    @foreach (var column in row.Columns)
                    {
                        <div class="@column.CssClass">
                    @if (!string.IsNullOrEmpty(column.Icon))
                    {
                        <i class="@column.Icon"></i>
                    }
                        <span style="margin-left:5px">@column.Text</span>
                        </div>
                    }
                </section>
            </section>
        </section>
        }
    }
    <section class="csf-flex-table-footer">
        <div class="csf-flex-table-footer-results">
            <span>Showing 1 to 6 of 25 requests</span>
            <span>Show <input type="number" value="6" /> requests</span>
        </div>
        <div class="csf-flex-table-footer-paging">
            <a href="#"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /></a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_RIGHT" /></a>
        </div>
    </section>
</section>
