@page "/confirmation/{confirmation:int}"
@page "/{LanguageCode}/confirmation/{confirmation:int}"

@inject IStringLocalizer<UploadConfirmation> PageLocalizer
@inject CSF.Web.Client.Services.UploadDocumentsStepper UploadDocumentsStepper
@inject CSF.Web.Client.Utilities.SessionState state

@using CSF.Web.Client.TCComponents.Stepper

@inherits BaseComponent

<StepperComponent Stepper="@UploadDocumentsStepper.Stepper" />

<main property="mainContentOfPage" class="container" typeof="WebPageElement">
    <section>
        <h1 class="alert-heading">@PageLocalizer["ThankYouHeader"]</h1>

        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">@PageLocalizer["DocumentsSubmittedHeader"]</h4>
            <p><strong>@string.Format(PageLocalizer["ConfirmationNumberText"], Confirmation)</strong></p>
            @((MarkupString)PageLocalizer["DocumentsSubmittedBody"].Value)
        </div>
    </section>

    <section>
        <h2>@PageLocalizer["WhatHappensNextHeader"]</h2>
        @((MarkupString)@PageLocalizer["WhatHappensNextBody"].Value)
    </section>

    <section>
        <h2>@PageLocalizer["ContactUsHeader"]</h2>
        @((MarkupString)PageLocalizer["ThankYouBody"].Value)
    </section>

    <section>
        <button onclick="window.print();" class="shr-opn wb-lbx btn btn-default wb-lbx-inited wb-init">Print this page</button>
    </section>
</main>

@code {

    [Parameter]
    public int Confirmation { get; set; }

    private bool hideCheckEmailConfirmationText = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        this.UploadDocumentsStepper.Stepper.ActivateStepAtIndex(2);
    }

}