<a href="#" class="btn btn-light">Add Request</a>
@using CSF.Common.Library.Extensions.Enum
@using Components.Tables.WorkloadRequest.Entities
@using Services.WorkloadRequest.Enums

<div id="table" class="border rounded col-10">
    <Table TableClass="table table-striped table-hover" TableItem="WorkloadRequestTableItem" Items="TableData" DefaultPageSize="25" ShowSearchBar="false">
        <Column TableItem="WorkloadRequestTableItem" Title="RequestId" Field="@(x => x.RequestId)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Column TableItem="WorkloadRequestTableItem" Title="Certificate" Field="@(x => x.Certificate)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Column TableItem="WorkloadRequestTableItem" Title="Request Type" Field="@(x => x.RequestType)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Column TableItem="WorkloadRequestTableItem" Title="Request Date" Field="@(x => x.RequestDate)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkLoadRequest">
                <span>@WorkLoadRequest.RequestDate.ToString("MMM d, yyyy")</span>
            </Template>
        </Column>
        <Column TableItem="WorkloadRequestTableItem" Title="Status" Field="@(x => x.Status)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkloadRequestTableItem">
                <WorkloadRequestTableItemStatusComponent RequestStatus="WorkloadRequestTableItem.Status" />
            </Template>
        </Column>
        <Column TableItem="WorkloadRequestTableItem" Title="Priority" Field="@(x => x.Priority)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkloadRequestTableItem">
                <CSF.SRDashboard.Client.Components.Tables.WorkloadRequest.WorkloadRequestTableItemPriorityComponent Priority="WorkloadRequestTableItem.Priority" />
            </Template>
        </Column>
        <Column TableItem="WorkloadRequestTableItem" Title="Language" Field="@(x => x.Language)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
</div>