@using Components.Tables.WorkloadRequest.Entities

@inject IStringLocalizer<Common> Localizer

<div class="table-responsive mt-3">
    <Table TableClass="table table-striped table-hover" TableHeadClass="font-weight-bold thead-light text-dark" TableItem="WorkloadRequestTableItem" Items="TableData" DefaultPageSize="25" ShowSearchBar="false">
        <Column TableItem="WorkloadRequestTableItem" Title="@Localizer["RequestID"]" Field="@(x => x.RequestId)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkloadRequestTableItem">
                <a href="SeafarerProfile/@Applicant.Cdn/view-request-details/@WorkloadRequestTableItem.RequestId">@WorkloadRequestTableItem.RequestId</a>
            </Template>
        </Column>
        <Column TableItem="WorkloadRequestTableItem" Title="@Localizer["CertificateType"]" Field="@(x => x.Certificate)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Column TableItem="WorkloadRequestTableItem" Title="@Localizer["RequestType"]" Field="@(x => x.RequestType)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Column TableItem="WorkloadRequestTableItem" Title="Request Date" Field="@(x => x.RequestDate)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkloadRequestTableItem">
                <WorkloadRequestTableItemPriorityComponent Priority="@WorkloadRequestTableItem.Priority" />
            </Template>
        </Column>
        <Column TableItem="WorkloadRequestTableItem" Title=@Localizer["Status"] Width="10%" Field="@(x => x.RequestStatus)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkloadRequestTableItem">
                <WorkloadRequestTableItemStatusComponent />
            </Template>
        </Column>
        <Column TableItem="WorkloadRequestTableItem" Title=@Localizer["ProcessingPhase"] Field="@(x => x.ProcessingPhase)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" />
        <Column TableItem="WorkloadRequestTableItem" Title=@Localizer["DateCreated"] Field="@(x => x.RequestDate)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true">
            <Template Context="WorkloadRequestTableItem">
                @if (WorkloadRequestTableItem.RequestDate.HasValue)
                {
                    <span>@WorkloadRequestTableItem.RequestDate.Value.ToString("MMM d, yyyy")</span>
                } else {
                    <span>N/A</span>
                }
            </Template>
        </Column>
        <div class="mt-4 mb-4">
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </div>
    </Table>
</div>