@page "/SeafarerProfile/{Cdn}/edit-attachment/{DocumentId:guid}"

@if (this.UploadedDocuments.Any())
{
    <EditForm EditContext="@this.EditContext" OnValidSubmit="SaveChanges">
        <div class="d-flex">
            <div class="mr-auto p-2"><h3>@this.Applicant.FullName - @Localizer["EditAttachment"]</h3></div>
            <div class="p-2"><button class="btn btn-light" @onclick="Cancel">@Localizer["Cancel"]</button></div>
            <div class="p-2"><button class="btn btn-primary" type="submit">@Localizer["SaveAttachment"]</button></div>
        </div>
        <hr />

        <div class="col-6">

            <Collapse HeaderTitleTextColor="#FFFFFF" Title=@Localizer["Attachment"] HeaderBackgroundColor="#1B50B1" IsCollapsable="true">
                <BodyContent>
                    <CSF.SRDashboard.Client.Components.DocumentInformation EditContext="this.EditContext" UploadedDocuments="UploadedDocuments" Applicant="this.Applicant" IsReadOnly="false" />
                </BodyContent>
            </Collapse>

        </div>

        <hr class="mt-5" />
        <div class="d-flex">
            <div class="mr-auto p-2"></div>
            <div class="p-2"><button class="btn btn-light" @onclick="Cancel">@Localizer["Cancel"]</button></div>
            <div class="p-2"><button class="btn btn-primary" type="submit">@Localizer["SaveAttachment"]</button></div>
        </div>
    </EditForm>
}