@page "/search"

@using CSF.SRDashboard.Client.Components.Icons.Constants

<div class="mt-4">
    <h1>Seafarers</h1>
</div>
<div >
<CSF.SRDashboard.Client.Components.SearchErrorComponent SearchError="this.SearchError" />
    </div>
<div class="border rounded col-12">
    <div class="mt-4">
        <div class="col-12">
            <h2>Find a seafarer</h2>
            <p>Enter one or more dearch field to view existing seafarers in the system.</p>
        </div>
        <EditForm EditContext="@EditContext" OnValidSubmit="Search">
            <FluentValidationValidator />
            <div class="row">
                <div class="col-5 d-grid gap-3">
                    <div class="form-group">
                        <FormInputText Label="Candidate Document Number (CDN)" Id="CNDInput" ValidationFor="@(()=>SearchCriteria.Cdn)" @bind-Value="@SearchCriteria.Cdn" />
                    </div>
                    <div class="form-group ">
                        <FormInputText Id="LastNameInput" Label="Last Name" @bind-Value="@SearchCriteria.LastName" ValidationFor="@(()=>SearchCriteria.LastName)" />
                    </div>
                    <div class="form-group">
                        <FormInputText Id="FirstNameInput" Label="First Name" @bind-Value="@SearchCriteria.FirstName" ValidationFor="@(()=>SearchCriteria.FirstName)" />
                    </div>
                    <div class="form-group ">
                        <FormInputDate Id="DobInput" Label="Date of Birth" @bind-Value="@SearchCriteria.DateOfBirthObj" ValidationFor="@(()=>SearchCriteria.DateOfBirthObj)" />
                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <button id="SeafarerSearch" type="submit" class="btn btn-primary btn-sm mt-4 mb-4">Search</button>
                    </div>
                    <ValidationSummary />
                </div>
                <div id="SpinnerContainer" style="display:none;" class="col-5 text-primary align-self-end">
                    <CSF.SRDashboard.Client.Components.Icons.Spinner SpinnerClass="mt-4 mb-4" AnimationType="FontAwesomeSpinAnimationType.SPIN" Size="FontAwesomeIconSize.TWO" />
                </div>
            </div>
        </EditForm>
    </div>
    <br />
</div>

