@page "/search"

<h3>Find Seafarer</h3>

<h1>Seafarers</h1>

<div class="border rounded col-10">
    <div class="">
        <br />
        <h2>Find a seafarer</h2>
        <p>Enter one or more dearch field to view existing seafarers in the system</p>
        <EditForm EditContext="@editContext" OnValidSubmit="Search">
            <div class="col-5 d-grid gap-3">
                <div class="form-group">
                    <FormInputText Label="Candidate Document Number (CDN)" Id="CNDInput" ValidationFor="@(()=>searchCriteria.Cdn)" @bind-Value="@searchCriteria.Cdn" />
                </div>
                    <div class="form-group ">
                        <FormInputText Id="LastNameInput" Label="Last Name" @bind-Value="@searchCriteria.LastName" ValidationFor="@(()=>searchCriteria.LastName)" />
                    </div>
                    <div class="form-group">
                        <FormInputText Id="FirstNameInput" Label="First Name" @bind-Value="@searchCriteria.FirstName" ValidationFor="@(()=>searchCriteria.FirstName)" />
                    </div>
                    <div class="form-group">
                        <FormInputDate Id="DobInput" Label="Date of Birth" @bind-Value="@searchCriteria.DateOfBirthObj" ValidationFor="@(()=>searchCriteria.DateOfBirthObj)" />
                    </div>
                <button type="submit" class="btn btn-primary btn-sm">Search</button>

            </div>
        </EditForm>
    </div>
    <br />
</div>

