@page "/"
@using Utilities
@using Models



<h1>Request Board</h1>
<div>
    <RadzenButton @attributes="SearchButtonAttribute" Text="Search" Icon="search"  Click="SearchButtonClicked" />
    <RadzenButton @attributes="CreateNewRequestButtonAttribute" Text="Create new request" Icon="create" Click="CreateNewRequestButtonClicked"/>
    <br><br>
</div>
<br>
<br>
<div>
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="In progress" Style="color:#1A202C">
                <RadzenGrid @ref="inProgressGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="@inProgressPageSize" AllowSorting="true"
                            Data="@requestGridData.RequestsInProgress" TItem="DashboardRow" RowDoubleClick="@OnRowDoubleClick" AllowColumnResize="true"
                            Value="@oneRow" RowSelect="@(args => oneRow = args)" ColumnWidth="200px">
                        <Columns>
                            <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceRequestNumber" Title="Request #" Type="int">
                                <Template>
                                    <RadzenLink Style="color:#1B50B1; text-decoration: underline" Path="@($"requestdetails/" + @data.ServiceRequestNumber)" Text=@data.ServiceRequestNumber.ToString() />
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="DashboardRow" Context="data" Property="FullName" Title="First and Last name" Type="string">
                                <Template>
                                    @data.FullName
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="DashboardRow" Context="data" Property="CDN" Title="CDN" Type="string">
                                <Template>
                                    @data.CDN
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="DashboardRow" Width="300px" Context="data" Property="RequestType" Title="Request type" Type="string">
                                <Template>
                                    @data.RequestType
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="DashboardRow" Context="data" Property="AssignedTo" Title="Assigned to" Type="string">
                                <Template>
                                    @data.AssignedTo
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceStandard" Title="Service Standard" Type="int">
                                <Template>
                                    @if (data.ServiceStandard < 8)
                                    {
                                        <span style='color:red'>@data.ServiceStandard.ToString()   days remaining</span>
                                    }
                                    else
                                    {
                                        <span style='color:#4A5568'>@data.ServiceStandard.ToString()   days remaining</span>
                                    }
                                </Template>
                            </RadzenGridColumn>
                            <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ProcessingPhase" Title="Processing phase" Type="string">
                                <Template>
                                    @data.ProcessingPhase
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>
                    <span>Showing 1 to @inProgressPageSize of @numberOfRequestsInProgress &nbsp;&nbsp; | &nbsp;&nbsp;</span>
                    <span>Show &nbsp;</span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@inProgressPageSize" /><span>&nbsp;request</span>
</RadzenTabsItem>

            <RadzenTabsItem Text="On hold">
                <RadzenGrid @ref="onHoldGrid" AllowFiltering="true" AllowPaging="true" PageSize="@onHoldPageSize" AllowSorting="true"
                            EditMode="DataGridEditMode.Single" Data="@requestGridData.RequestsOnHold" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Value="@oneRow" RowSelect="@(args => oneRow = args)" TItem="DashboardRow" RowDoubleClick="@OnRowDoubleClick"
                            AllowColumnResize="true">
                    <Columns>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceRequestNumber" Title="Request #" Type="int">
                            <Template>
                                <RadzenLink Style="color:#1B50B1; text-decoration: underline" Path="@($"requestdetails/" + @data.ServiceRequestNumber)" Text=@data.ServiceRequestNumber.ToString() />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="FullName" Title="First and Last name" Type="string">
                            <Template>
                                @data.FullName
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="CDN" Title="CDN" Type="string">
                            <Template>
                                @data.CDN
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="RequestType" Title="Request type" Type="string">
                            <Template>
                                @data.RequestType
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="AssignedTo" Title="Assigned to" Type="string">
                            <Template>
                                @data.AssignedTo
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceStandard" Title="Service Standard" Type="int">
                            <Template>
                                @if (data.ServiceStandard < 8)
                                {
                                    <span style='color:red'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                                else
                                {
                                    <span style='color:#4A5568'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ProcessingPhase" Title="Processing phase" Type="string">
                            <Template>
                                @data.ProcessingPhase
                            </Template>
                        </RadzenGridColumn>

                    </Columns>
                </RadzenGrid>
                <span>Showing 1 to @onHoldPageSize of @numberOfRequestsOnHold &nbsp;&nbsp; | &nbsp;&nbsp;</span>
                <span>Show </span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@onHoldPageSize" /><span>request</span>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Completed">
                <RadzenGrid @ref="completedGrid" AllowFiltering="true" AllowPaging="true" PageSize="@completedPageSize" AllowSorting="true" EditMode="DataGridEditMode.Single"
                            Value="@oneRow" RowSelect="@(args => oneRow = args)" RowDoubleClick="@OnRowDoubleClick" AllowColumnResize="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data="@requestGridData.RequestsCompleted" TItem="DashboardRow">
                    <Columns>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceRequestNumber" Title="Request #" Type="int">
                            <Template>
                                <RadzenLink Style="color:#1B50B1; text-decoration: underline" Path="@($"requestdetails/" + @data.ServiceRequestNumber)" Text=@data.ServiceRequestNumber.ToString() />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="FullName" Title="First and Last name" Type="string">
                            <Template>
                                @data.FullName
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="CDN" Title="CDN" Type="string">
                            <Template>
                                @data.CDN
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="RequestType" Title="Request type" Type="string">
                            <Template>
                                @data.RequestType
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="AssignedTo" Title="Assigned to" Type="string">
                            <Template>
                                @data.AssignedTo
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceStandard" Title="Service Standard" Type="int">
                            <Template>
                                @if (data.ServiceStandard < 8)
                                {
                                    <span style='color:red'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                                else
                                {
                                    <span style='color:#4A5568'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ProcessingPhase" Title="Processing phase" Type="string">
                            <Template>
                                @data.ProcessingPhase
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
                <span>Showing 1 to @completedPageSize of @numberOfRequestsCompleted &nbsp;&nbsp; | &nbsp;&nbsp;</span>
                <span>Show </span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@completedPageSize" /><span>request</span>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Not submitted">
                <RadzenGrid @ref="notSubmittedGrid" AllowFiltering="true" AllowPaging="true" PageSize="@notSubmittedPageSize" AllowSorting="true" EditMode="DataGridEditMode.Single"
                            Value="@oneRow" RowSelect="@(args => oneRow = args)" RowDoubleClick="@OnRowDoubleClick" AllowColumnResize="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data="@requestGridData.RequestsNotSubmitted" TItem="DashboardRow">
                    <Columns>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceRequestNumber" Title="Request #" Type="int">
                            <Template>
                                <RadzenLink Style="color:#1B50B1; text-decoration: underline" Path="@($"requestdetails/" + @data.ServiceRequestNumber)" Text=@data.ServiceRequestNumber.ToString() />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="FullName" Title="First and Last name" Type="string">
                            <Template>
                                @data.FullName
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="CDN" Title="CDN" Type="string">
                            <Template>
                                @data.CDN
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="RequestType" Title="Request type" Type="string">
                            <Template>
                                @data.RequestType
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="AssignedTo" Title="Assigned to" Type="string">
                            <Template>
                                @data.AssignedTo
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceStandard" Title="Service Standard" Type="int">
                            <Template>
                                @if (data.ServiceStandard < 8)
                                {
                                    <span style='color:red'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                                else
                                {
                                    <span style='color:#4A5568'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ProcessingPhase" Title="Processing phase" Type="string">
                            <Template>
                                @data.ProcessingPhase
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
                <span>Showing 1 to @notSubmittedPageSize of @numberOfRequestNotSubmitted &nbsp;&nbsp; | &nbsp;&nbsp;</span>
                <span>Show </span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@notSubmittedPageSize" /><span>request</span>

            </RadzenTabsItem>

            <RadzenTabsItem Text="New request">
                <RadzenGrid @ref="newRequestsGrid" AllowFiltering="true" AllowPaging="true" PageSize="@newRequestsPageSize" AllowSorting="true" EditMode="DataGridEditMode.Single"
                            Value="@oneRow" RowSelect="@(args => oneRow = args)" RowDoubleClick="@OnRowDoubleClick" AllowColumnResize="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            Data="@requestGridData.NewRequests" TItem="DashboardRow">
                    <Columns>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceRequestNumber" Title="Request #" Type="int">
                            <Template>
                                <RadzenLink Style="color:#1B50B1; text-decoration: underline" Path="@($"requestdetails/" + @data.ServiceRequestNumber)" Text=@data.ServiceRequestNumber.ToString() />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="FullName" Title="First and Last name" Type="string">
                            <Template>
                                @data.FullName
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="CDN" Title="CDN" Type="string">
                            <Template>
                                @data.CDN
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="RequestType" Title="Request type" Type="string">
                            <Template>
                                @data.RequestType
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="AssignedTo" Title="Assigned to" Type="string">
                            <Template>
                                @data.AssignedTo
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceStandard" Title="Service Standard" Type="int">
                            <Template>
                                @if (data.ServiceStandard < 8)
                                {
                                    <span style='color:red'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                                else
                                {
                                    <span style='color:#4A5568'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ProcessingPhase" Title="Processing phase" Type="string">
                            <Template>
                                @data.ProcessingPhase
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
                <span>Showing 1 to @newRequestsPageSize of @numberOfNewRequests &nbsp;&nbsp; | &nbsp;&nbsp;</span>
                <span>Show </span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@newRequestsPageSize" /><span>request</span>
            </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>

</div>
