@page "/SeafarerProfile/{Cdn}"
@page "/SeafarerProfile/{Cdn}/{requestId:int}"
@page "/SeafarerProfile/{Cdn}/{requestId:int}/{Updated}"
@inject IJSRuntime JS

<a class="btn btn-link" href="javascript:history.back()"><i class="fas fa-angle-left mr-2"></i>@Localizer["BackToSearchResults"]</a>

<h3>@this.Applicant.FullName</h3>

<AlertComponent ShowIcon="false" AlertType="@AlertType" EnableShow="@IsAlertEnabled" Dismisable="true">
    <ChildContent>
        <p>@message<strong> @Applicant.FullName </strong></p>
    </ChildContent>
</AlertComponent>

<AlertComponent ShowIcon="false" AlertType="@AlertType" EnableShow="@(!string.IsNullOrWhiteSpace(FileName))" Dismisable="true">
    <ChildContent>
        <p>@Localizer["YouSuccessfullyUpdatedDocument"]<strong> @FileName </strong></p>
    </ChildContent>
</AlertComponent>

<div class="border rounded col-12 mb-3">
    <div class="bs-component mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="requestLink" data-toggle="tab" href="#Requests">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Documents">Documents</a>
            </li>
        </ul>
        <div id="profileTabs " class="tab-content">

            <div class="tab-pane fade show active" id="Summary">
                <CSF.SRDashboard.Client.Components.Seafarer.SeafarerProfileComponent Applicant="@this.Applicant" />
            </div>
            <div class="tab-pane fade flex-tabs" id="Requests">
                <CSF.SRDashboard.Client.Components.Tables.WorkloadRequest.WorkloadRequestTable TableData="TableItems" Applicant="@this.Applicant" />
            </div>
            <div class="tab-pane fade flex-tabs" id="Documents">
                <CSF.SRDashboard.Client.Components.Tables.Dashboard.DashboardTable Applicant="this.Applicant" TableData="@TableData" />
            </div>
        </div>
    </div>
</div>
