@page "/SearchResults"


@if (State.ApplicantSearchResult.TotalCount != 0)
{
    <div class="row">
        <div class="col-10">
           <a class="btn btn-light float-right" href="/Search">New search</a>
        </div>
    </div>
    <div hidden="@showTable" id="table" class="border rounded col-10">

        <Table TableClass="table table-striped table-hover mt-3" OnAfterDataLoaded="OnAfterTableDataLoaded" TableItem="ApplicantSearchResultItem"
               @ref="TableRef" DefaultPageSize="25"
               Items="TableData" HeaderFilterChanged="@(() => HandleHeaderFilterChanged())" ShowSearchBar="@ShowFilterHeader">
            <Column TableItem="ApplicantSearchResultItem" Title="Last Name" Field="@(x => x.LastName)" DefaultShowColumn="true" DefaultShowHeaderFilter="false" Sortable="true" Width="25%">
                <Template Context="ApplicantSearchResultItem">

                    <a href="SeafarerProfile/@ApplicantSearchResultItem.Cdn">@ApplicantSearchResultItem.LastName</a>
                </Template>
            </Column>
            <Column TableItem="ApplicantSearchResultItem" Title="First Name" Field="@(x => x.FirstName)" DefaultShowHeaderFilter="false" Sortable="true" Width="25%" />
            <Column TableItem="ApplicantSearchResultItem" Title="CDN #" Field="@(x => x.Cdn)" DefaultShowHeaderFilter="false" Sortable="false" Width="25%" />
            <Column TableItem="ApplicantSearchResultItem" Title="Date Of Birth" Field="@(x => x.DateOfBirth)" DefaultShowHeaderFilter="false" Sortable="true" Width="25%" />
            <Pager ShowPageNumber="true" ShowTotalCount="true" />
        </Table>

    </div>
    
    }

else 
{
<div class="row">
    <p class="alert-danger">No results found</p>
</div>
<div class="row">
    <a class="page-link" href="/Search">Return to search</a>
</div>
    }
