@page "/requestdetails/{ServiceRequestId:int}"

@inject IStringLocalizer<Common> Localizer

<a href="/" class="link-back">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /> <span>@Localizer["BackToDashboard"]</span>
</a>

<h1>@string.Format("{0}{1}", this.Localizer["RequestNumber"], this.ServiceRequestId)</h1>

<CSFTabControl>
    <TabPages>
        <CSFTabPage Text="@Localizer["Summary"]">
            <section style="display:flex; justify-content:space-between; margin-top:53px;">
                <section style="flex-basis:25%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.ProcessingPhase />
                </section>
                <section style="flex-basis:73%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.RequestDetail Model="this.RequestDetailComponentModel" />

                    <br />

                    <CSF.SRDashboard.Client.Components.Attachments />

                    <br />

                    <CSF.SRDashboard.Client.Components.SeafarerDetails Model="requestDetailsPageData.SeafarerDetails" />
                </section>

            </section>
        </CSFTabPage>
        <CSFTabPage Text="@Localizer["Notes"]">

        </CSFTabPage>
    </TabPages>
    <TabPageEndContent>
        <span class="badge-pill">@Localizer["StatusInProgress"]</span>
    </TabPageEndContent>
</CSFTabControl>