@page "/requestdetails/{ServiceRequestId:int}"
@using Models
@using Utilities


<a href="/" class="link-back">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /> <span>Back to dashboard</span>
</a>

<h1>Request #@this.ServiceRequestId</h1>

<CSFTabControl>
    <TabPages>
        <CSFTabPage Text="Summary">
            <section style="display:flex; justify-content:space-between; margin-top:53px;">
                <section style="flex-basis:25%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.ProcessingPhase />
                </section>
                <section style="flex-basis:73%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.RequestDetail Model="this.RequestDetailComponentModel" />

                    <br />

                    <CSF.SRDashboard.Client.Components.Attachments />

                    <br />

                    <CSF.SRDashboard.Client.Components.SeafarerDetails Model="RequestDetailsPageData.SeafarerDetails" />

                    <br />

                    <CSF.SRDashboard.Client.Components.MMEDetails Model="this.MMEDetailComponentModel" />

                    <br />

                </section>

            </section>
        </CSFTabPage>
        <CSFTabPage Text="Notes">

            <RadzenTabsItem Text="In progress" Style="color:#1A202C">
                <RadzenGrid @ref="NotesGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="@NotesPageSize" AllowSorting="true"
                            Data="@NotesData" TItem="DashboardRow" RowDoubleClick="@OnRowDoubleClick" AllowColumnResize="true"
                            Value="@oneRow" RowSelect="@(args => oneRow = args)" ColumnWidth="200px">
                    <Columns>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceRequestNumber" Title="Request #" Type="int">
                            <Template>
                                <RadzenLink Style="color:#1B50B1; text-decoration: underline" Path="@($"requestdetails/" + @data.ServiceRequestNumber)" Text=@data.ServiceRequestNumber.ToString() />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="FullName" Title="First and Last name" Type="string">
                            <Template>
                                @data.FullName
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="CDN" Title="CDN" Type="string">
                            <Template>
                                @data.FullName
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Width="300px" Context="data" Property="RequestType" Title="Request type" Type="string">
                            <Template>
                                @data.CDN
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="AssignedTo" Title="Assigned to" Type="string">
                            <Template>
                                @data.AssignedTo
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ServiceStandard" Title="Service Standard" Type="int">
                            <Template>
                                @*@if (data.ServiceStandard < 8)
                                    <span style='color:red'>@data.ServiceStandard.ToString()   days remaining</span>
                                }
                                else
                                {
                                    <span style='color:#4A5568'>@data.ServiceStandard.ToString()   days remaining</span>
                                }*@

                                <span>Days I think</span>
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="DashboardRow" Context="data" Property="ProcessingPhase" Title="Processing phase" Type="string">
                            <Template>
                                @data.ProcessingPhase
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
                <span>Showing 1 to </span>
                <span>Show &nbsp;</span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@NotesPageSize" /><span>&nbsp;request</span>
            </RadzenTabsItem>


        </CSFTabPage>
    </TabPages>
    <TabPageEndContent>
        <span class="badge-pill">Status: In progress</span>
    </TabPageEndContent>
</CSFTabControl>