@page "/requestdetails/{ServiceRequestId:int}"
@using Models
@using Utilities
@using DTO


<a href="/" class="link-back">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /> <span>Back to dashboard</span>
</a>

<h1>Request #@this.ServiceRequestId</h1>


<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Summary" Style="color:#1A202C">
            <section style="display:flex; justify-content:space-between; margin-top:53px;">
                <section style="flex-basis:25%;">
                    <CSF.SRDashboard.Client.Components.ProcessingPhase />
                </section>
                <section style="flex-basis:73%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.RequestDetail Model="this.RequestDetailComponentModel" />

                    <br />

                    <CSF.SRDashboard.Client.Components.Attachments />

                    <br />

                    <CSF.SRDashboard.Client.Components.SeafarerDetails Model="RequestDetailsPageData.SeafarerDetails" />

                    <br />

                    <CSF.SRDashboard.Client.Components.MMEDetails Model="this.MMEDetailComponentModel" />

                    <br />

                </section>

            </section>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Notes" Style="color:#1A202C">
            <RadzenGrid @ref="NotesGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        FilterMode="FilterMode.Simple" AllowPaging="true" PageSize="@NotesPageSize" AllowSorting="true"
                        Data="@NotesData" TItem="NoteDTO" RowDoubleClick="@OnRowDoubleClick" AllowColumnResize="true"
                        Value="@OneRow" RowSelect="@(args => OneRow = args)" ColumnWidth="200px">
                <Columns>
                    <RadzenGridColumn TItem="NoteDTO" Width="100px" Context="data" Property="DateOfCreated" Title="Date" Type="DateTime">
                        <Template>
                            @data.DateOfCreated
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NoteDTO" Width="300px" Context="data" Property="Note" Title="Note" Type="string">
                        <Template>
                            @data.Note
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NoteDTO" Width="100px" Context="data" Property="FullName" Title="Entered by" Type="string">
                        <Template>
                            @data.FullName
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NoteDTO" Filterable="false" Sortable="false" Width="50px" Context="data" Property="Edit" Title="Edit" Type="string">
                        <Template>
                            <CSF.Components.Buttons.Actions.CSFEditButton />
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
            <br />
            @*<span>Showing 1 to </span>
            <span>Show &nbsp;</span><RadzenNumeric TValue="int" Min="1" Style="width: 55px" @bind-Value="@NotesPageSize" /><span>&nbsp;request</span>
            <br />*@
            <CSF.Components.Buttons.CSFButton Text="Add note"  />
        </RadzenTabsItem>


    </Tabs>

</RadzenTabs>

