@page "/SeafarerProfile/{Cdn}/view-request-details/{RequestId:int}"

<div class="d-flex">
    <div class="mr-auto p-2"><h3>@this.Applicant.FullName - @this.Localizer["ViewRequest"] @RequestId</h3></div>
    <div class="p-2"><button class="btn btn-light" @onclick="Cancel">@Localizer["Cancel"]</button></div>
    <div class="p-2"><a class="btn btn-primary" href="/SeafarerProfile/edit-request/@this.Cdn/@this.RequestId">@Localizer["EditRequest"]</a></div>
</div>
<hr />

<EditForm EditContext="@this.EditContext">
    <div class="d-flex">
        <div class="flex-grow-1">
            <div class="mt-3 mb-3">
                <Collapse HeaderTitleTextColor="#FFFFFF" Title="@this.Localizer["RequestInformation"]" HeaderBackgroundColor="#1B50B1" IsCollapsable="true">
                    <BodyContent>
                        <CSF.SRDashboard.Client.Components.Seafarer.Requests.RequestInformation EditContext="this.EditContext" RequestModel="this.RequestModel" ShowRequestID="true" IsReadOnly="true" />
                    </BodyContent>
                </Collapse>
            </div>

            <div class="mt-3 mb-3">
                <Collapse HeaderTitleTextColor="#FFFFFF" Title="@this.Localizer["ApplicantDetails"]" HeaderBackgroundColor="#1B50B1" IsCollapsable="true">
                    <BodyContent>
                        <CSF.SRDashboard.Client.Components.ApplicantDetails Applicant="this.Applicant" />
                    </BodyContent>
                </Collapse>
            </div>

        </div>

        <div style="flex-basis:25%;" class="pl-4 pr-4">
            <CSF.SRDashboard.Client.Components.RequestStatus EditContext="EditContext" RequestModel="RequestModel" Editable="true" IsReadOnly="true" ShowDefaultOption="true" />
        </div>
    </div>
</EditForm>
