<div>
    <div class="row pt-3">
        <div class="col">
            <h3 class="p-2 bg-light">Information</h3>
            <div class="p-3 border-bottom">
                <div class="row">
                    <div class="col">
                        <h6 class="font-weight-bold">First name</h6>
                        <p>@this.Applicant.FirstName</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Last name</h6>
                        <p>@this.Applicant.LastName</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Date of birth</h6>
                        <p>@this.Applicant.DateOfBirthString</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">CDN</h6>
                        <p>@this.Applicant.Cdn</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6 class="font-weight-bold">Gender</h6>
                        <p>@this.Applicant.FullGender</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Language</h6>
                        <p>@this.Applicant.SelectedLanguage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="p-2 bg-light">Contact</h3>
            <div class="p-3 border-bottom">
                <div class="row">
                    <div class="col">
                        <h6 class="font-weight-bold">Phone number</h6>
                        <p>@this.Applicant.PhoneNumber</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Secondary number</h6>
                        <p>@this.Applicant.SecondaryPhoneNumber</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Email</h6>
                        <p>@this.Applicant.Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="p-2 bg-light">Home address</h3>
            <div class="p-3 border-bottom">
                <div class="row">
                    <div class="col">
                        <h6 class="font-weight-bold">Address</h6>
                        <p>@this.Applicant.HomeAddress</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">City</h6>
                        <p>@this.Applicant.HomeAddressCity</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Province/Territory</h6>
                        <p>@this.Applicant.HomeAddressProvince</p>
                    </div>
                    <div class="col">
                    <h6 class="font-weight-bold">Postal Code</h6>
                    <p>@this.Applicant.HomeAddressPostalCode</p>
                </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6 class="font-weight-bold">Country</h6>
                        <p>@this.Applicant.HomeAddressCountry</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="p-2 bg-light">Mailing address</h3>
            <div class="p-3">
                <div class="row">
                    <div class="col">
                        <h6 class="font-weight-bold">Address</h6>
                        <p>@this.Applicant.MailingAddress</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">City</h6>
                        <p>@this.Applicant.MailingAddressCity</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Province/Territory</h6>
                        <p>@this.Applicant.MailingAddressProvince</p>
                    </div>
                    <div class="col">
                        <h6 class="font-weight-bold">Postal Code</h6>
                        <p>@this.Applicant.MailingAddressPostalCode</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6 class="font-weight-bold">Country</h6>
                        <p>@this.Applicant.MailingAddressCountry</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>