@page "/review"
@page "/{LanguageCode}/review"

@inject IStringLocalizer<ReviewDocument> PageLocalizer
@inject IStringLocalizer<Common> CommonPageLocalizer
@inject Utilities.SessionState state
@inject Data.Services.MtoaEmailService emailService
@inject Data.Services.MtoaFileService fileService
@inject Services.UploadDocumentsStepper UploadDocumentsStepper

@using BlazorInputFile
@using CDNApplication.Data.Entity
@using CDNApplication.Models.PageModels
@using CDNApplication.TCComponents.Stepper
@using Data.Services;
@inherits BaseComponent

<StepperComponent Stepper="@UploadDocumentsStepper.Stepper" />

<h1>@PageLocalizer["PageTitle"]</h1>

@((MarkupString)@PageLocalizer["PageDescription"].Value)

@if (model == null)
{
    <button class="btn btn-light" @onclick="GoBack" role="button">
        @CommonPageLocalizer["Back"]
    </button>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="1"><strong>@PageLocalizer["YourInformation"]</strong></span>
            @*<a @onclick="GoBack">@CommonPageLocalizer["Edit"]</a>*@
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">@PageLocalizer["CDNNumber"]:</div>
                <div class="col-md-7">@model.CdnNumber</div>
            </div>
            <div class="row">
                <div class="col-md-5">@PageLocalizer["PhoneNumber"]:</div>
                <div class="col-md-7">@model.PhoneNumber</div>
            </div>
            <div class="row">
                <div class="col-md-5">@PageLocalizer["EmailAddress"]:</div>
                <div class="col-md-7">@model.EmailAddress</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="1"><strong>@PageLocalizer["YourCertificateSelection"]</strong></span>
            @*<a @onclick="GoBack">@CommonPageLocalizer["Edit"]</a>*@
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">@PageLocalizer["SelectedCertificate"]:</div>
                <div class="col-md-7">@model.CertificateType</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-header" id="3"><strong>@PageLocalizer["YourDocument"]</strong></span>
            @*<a @onclick="GoBack">@CommonPageLocalizer["Edit"]</a>*@
        </div>
        <div class="panel-body">

            @for (int i = 0; i < model.UploadedFiles.Count; i++)
            {
                int index = i + 1;

                <div>
                    <span class="wrap-text">@CommonPageLocalizer["Document"] @index:</span>
                    <div class="wrap-text">@model.UploadedFiles[i].SelectedFile.Name &nbsp; (@model.UploadedFiles[i].SelectedFile.Size bytes)</div>
                    <div class="wrap-text">@CommonPageLocalizer["Description"]: @model.UploadedFiles[i].Description</div>
                </div>

                @if (i < model.UploadedFiles.Count - 1)
                {
                    <br />
                }

            }

        </div>
    </div>

    <button class="btn btn-primary" @onclick="Submit" role="button">
        @CommonPageLocalizer["Submit"]
    </button>

    <button class="btn btn-secondary" @onclick="GoBack" role="button">
        @CommonPageLocalizer["Previous"]
    </button>
}

@code {

    private UploadDocumentPageModel model;

    private int _confirmationGuid;

    private void Submit()
    {

        Console.WriteLine(model);

        state.UploadDocumentPage = null;

        if (!String.IsNullOrEmpty(model.EmailAddress))
        {

            fileService.UploadFilesInPageModelAsync(model); // this method returns list of file attachment IDs to be used later.

            emailService.SendEmailToApplicant(model).Wait();
        }

        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}{LanguageCode}/confirmation/{_confirmationGuid}");

    }

    void GoBack()
    {
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}{LanguageCode}/upload");
    }

    protected override void OnInitialized()
    {

        base.OnInitialized();

        this.UploadDocumentsStepper.Stepper.ActivateStepAtIndex(1);

        _confirmationGuid = new Random().Next(100000, 9999999);

        if (state.UploadDocumentPage == null)
        {
            state.UploadDocumentPage = new UploadDocumentPageModel();
        }

        model = state.UploadDocumentPage;

        model.ConfirmationNumber = _confirmationGuid.ToString();
    }

}
