@page "/review"
@page "/{LanguageCode}/review"

@inject IStringLocalizer<ReviewDocument> PageLocalizer
@inject IStringLocalizer<Common> CommonPageLocalizer

@using CDNApplication.Models.PageModels
@inherits ReviewDocumentPageModel

<StepperComponent Stepper="@UploadDocumentsStepper.Stepper" />

<h1>@PageLocalizer["PageTitle"]</h1>

@((MarkupString)@PageLocalizer["PageDescription"].Value)

@if (model == null)
{
    <a class="btn btn-secondary" href="@previousPage">
        @CommonPageLocalizer["Back"]
    </a>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="1"><strong>@PageLocalizer["YourInformation"]</strong></span>
            @*<a @onclick="GoBack">@CommonPageLocalizer["Edit"]</a>*@
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">@PageLocalizer["CDNNumber"]:</div>
                <div class="col-md-7">@model.CdnNumber</div>
            </div>
            <div class="row">
                <div class="col-md-5">@PageLocalizer["PhoneNumber"]:</div>
                <div class="col-md-7">@model.PhoneNumber</div>
            </div>
            <div class="row">
                <div class="col-md-5">@PageLocalizer["EmailAddress"]:</div>
                <div class="col-md-7">@model.EmailAddress</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span id="1"><strong>@PageLocalizer["YourCertificateSelection"]</strong></span>
            @*<a @onclick="GoBack">@CommonPageLocalizer["Edit"]</a>*@
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">@PageLocalizer["SelectedCertificate"]:</div>
                <div class="col-md-7">@model.CertificateType</div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-header" id="3"><strong>@PageLocalizer["YourDocument"]</strong></span>
            @*<a @onclick="GoBack">@CommonPageLocalizer["Edit"]</a>*@
        </div>
        <div class="panel-body">

            @for (int i = 0; i < model.UploadedFiles.Count; i++)
            {
                int index = i + 1;

                <div>
                    <span class="wrap-text">@CommonPageLocalizer["Document"] @index:</span>
                    <div class="wrap-text">@model.UploadedFiles[i].SelectedFile.Name &nbsp; (@model.UploadedFiles[i].SelectedFile.Size bytes)</div>
                    <div class="wrap-text">@CommonPageLocalizer["Description"]: @model.UploadedFiles[i].Description</div>
                </div>

                @if (i < model.UploadedFiles.Count - 1)
                {
                    <br />
                }

            }

        </div>
    </div>

    <button class="btn btn-primary" @onclick="Submit" role="button">
        @CommonPageLocalizer["Submit"]
    </button>

    <a class="btn btn-secondary" href="@previousPage">
        @CommonPageLocalizer["Previous"]
    </a>
}
