@page "/upload"
@page "/{LanguageCode}/upload"

@inject IStringLocalizer<Common> CommonLocalizer
@inject IStringLocalizer<UploadDocument> PageLocalizer
@inject IStringLocalizer<CDNApplication.Resources.Pages.Common> CommonPageLocalizer
@inject Utilities.SessionState state

@using BlazorInputFile
@using CDNApplication.Data.Entity
@using CDNApplication.Models.PageModels
@inherits BaseComponent

<h1>@PageLocalizer["PageTitle"]</h1>

<p>@PageLocalizer["PageDescription"]</p>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <FluentValidationValidator />
    <ValidationSummary />

    <div class="form-group">
        <div class="form-control-wrapper">
            <label class="form-control-label required" for="@nameof(model.CdnNumber)">
                @PageLocalizer["CDNLabel"] <strong class="required">@CommonLocalizer["Required"]</strong>
            </label>
            @*<a tabindex="0" data-trigger="focus" data-toggle="tooltip" data-content="A business name is" data-html="true" data-original-title="" title="">
                <i class="fa fa-info-circle ml-2"></i>
            </a>*@

            <a tabindex="0" data-trigger="focus" data-toggle="popover"
               data-content="Hi there">
                <i class="fa fa-info-circle ml-2"></i>
            </a>

            <InputText class="form-control" @bind-Value="@model.CdnNumber" id="@nameof(model.CdnNumber)" placeholder="@PageLocalizer["CandidateDocumentNumberHint"]" />
            <ValidationMessage For="() => model.CdnNumber" />
        </div>
    </div>

    <div class="form-group">
        <div class="form-control-wrapper">
            <label class="form-control-label required">
                @PageLocalizer["SelectCertificateLabel"] <strong class="required">@CommonLocalizer["Required"]</strong>
            </label>
            <TSelect Items="@certificateTypes" FieldName="EnglishName" OnSelectChangeFromChildEvent="CertificateTypeSelectionChanged" />
            <ValidationMessage For="() => model.CertificateType" />
        </div>
    </div>

    <section class="panel panel-primary">
        <header class="panel-heading">
            <h5 class="panel-title">@PageLocalizer["AddYourDocumentsPanelHeading"]</h5>
        </header>
        <div class="panel-body">
            <div class="form-group">
                <label class="form-control-label required" for="@nameof(model.FileDescription)">
                    @PageLocalizer["FileDescriptionLabel"] <strong class="required">@CommonLocalizer["Required"]</strong>
                </label>
                <InputText class="form-control" @bind-Value="@model.FileDescription" id="@nameof(model.FileDescription)" placeholder="@PageLocalizer["FileDescriptionHint"]" />

                <label class="required" for="@nameof(model.UploadedFiles)">
                    @PageLocalizer["SelectFileLabel"] <strong class="required">@CommonLocalizer["Required"]</strong>
                </label>
                <InputFile class="form-control" OnChange="HandleFileSelected" id="@nameof(model.UploadedFiles)" accept=".jpg, .png, .gif, .pdf" />
                <ValidationMessage For="() => model.UploadedFiles" />

                @for (var i = 0; i < (model.UploadedFiles?.Count ?? 0); i++)
                {
                    var index = i;
                    <p>
                        @string.Format(PageLocalizer["FileUploadedSuccessText"], model.UploadedFiles?[i].SelectedFile.Name) | @PageLocalizer["DescriptionText"]: @model.UploadedFiles?[i].Description

                        <button class="btn btn-danger" type="button" @onclick="e => RemoveFile(index)">X</button>
                    </p>
                }
                <br />
                <button id="add_another_file" type="button" class=" btn" onclick="trigerInputFileButton()">@PageLocalizer["AddAnotherFileText"]</button>

            </div>
        </div>
    </section>

    <button class=" btn btn-primary">
        @CommonPageLocalizer["Next"]
    </button>

</EditForm>

@code {

    private List<CertificateType> certificateTypes = new List<CertificateType>();

    private UploadDocumentPageModel model = new UploadDocumentPageModel();


    private void HandleValidSubmit()
    {

        state.UploadDocumentPage = model;

        Console.WriteLine(model);
        NavigationManager.NavigateTo($"{NavigationManager.BaseUri}{LanguageCode}/review");

    }

    async void HandleFileSelected(IFileListEntry[] files)
    {

        if (string.IsNullOrWhiteSpace(model.FileDescription))
        {
            return;
        }

        foreach (var item in files)
        {

            if (!ExtensionIsValid(item.Name))
            {
                return;
            }

            model.UploadedFiles.Add(new UploadedFile { SelectedFile = item, Description = model.FileDescription });

            model.FileDescription = string.Empty;
        }

        StateHasChanged();

        await Task.Delay(100);
    }

    private void CertificateTypeSelectionChanged(ChangeEventArgs e)
    {
        model.CertificateType = e.Value.ToString();
    }

    bool ExtensionIsValid(string path)
    {

        string ext = System.IO.Path.GetExtension(path);

        if (string.Equals(".jpg", ext, StringComparison.OrdinalIgnoreCase) ||
            string.Equals(".png", ext, StringComparison.OrdinalIgnoreCase) ||
            string.Equals(".gif", ext, StringComparison.OrdinalIgnoreCase) ||
            string.Equals(".pdf", ext, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        return false;
    }



    void RemoveFile(int index)
    {
        model.UploadedFiles.RemoveAt(index);

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (state.UploadDocumentPage != null)
        {
            model = state.UploadDocumentPage;

            StateHasChanged();
        }

        certificateTypes = CertificateType.GetAllCertificateTypes();
    }

}
