
<EditForm EditContext="@EditContext">
    <div class="row">
        <div class="col-12 d-grid gap-3">
            @if (ShowRequestID)
            {
                if (!this.IsReadOnly)
                {
                    <FormInputText readonly="true" Id="RequestID" Label="@Localizer["RequestID"]" @bind-Value="@RequestModel.RequestID" ValidationFor="@(() => RequestModel.RequestID)" />
                }
                else
                {
                    <label class="form-label"><b>@Localizer["RequestID"]</b></label>
                    <p>@RequestModel.RequestID</p>
                }
            }

            @if (!this.IsReadOnly)
            {
                <FormInputSelect Label="@Localizer["RequestType"]" Id="RequestType" SelectLabel="@Localizer["DefaulRequestType"]" ShowDefaultOption="ShowDefaultOption" @bind-Value="@RequestModel.RequestType" ValidationFor="@(() => RequestModel.RequestType)">
                    @foreach (var item in Constants.RequestTypes)
                        {
                        <option value="@item.Id">@item.Text</option>
                        }
                </FormInputSelect>
            }
            else
            {
                <label class="form-label"><b>@Localizer["RequestType"]</b></label>
                foreach (var item in Constants.RequestTypes)
                {
                    if (item.Id == RequestModel.RequestType)
                    {
                        <p>@item.Text</p>
                    }
                }
            }


            @if (!this.IsReadOnly)
            {
                <FormInputSelect Id="CertificateType" Label="@Localizer["CertificateType"]" ShowDefaultOption="ShowDefaultOption" SelectLabel="@Localizer["DefaultCertificateSelect"]" @bind-Value="@RequestModel.CertificateType" ValidationFor="@(() => RequestModel.CertificateType)" Required="true">
                    @foreach (var item in Constants.CertificateTypes)
                        {
                        <option value="@item.Id">@item.Text</option>
                        }
                </FormInputSelect>
            }
            else
            {
                <label class="form-label"><b>@Localizer["CertificateType"]</b></label>
                foreach (var item in Constants.CertificateTypes)
                {
                    if (item.Id == RequestModel.CertificateType)
                    {
                        <p>@item.Text</p>
                    }
                }
            }

            @if (!this.IsReadOnly)
            {
                <FormInputSelect class=" " Id="SubmissionMethod" Label="@Localizer["SubmissionMethod"]" SelectLabel="@Localizer["DefaultSubmissionSelect"]" ShowDefaultOption="ShowDefaultOption" @bind-Value="@RequestModel.SubmissionMethod" ValidationFor="@(() => RequestModel.SubmissionMethod)" Required="true">
                    @foreach (var item in Constants.SubmissionMethods)
                        {
                        <option value="@item.Id">@item.Text</option>
                        }
                </FormInputSelect>
            }
            else
            {
                <label class="form-label"><b>@Localizer["SubmissionMethod"]</b></label>
                @foreach (var item in Constants.SubmissionMethods)
                {
                    if (@RequestModel.SubmissionMethod == item.Id)
                    {
                        <p>@item.Text</p>
                    }
                }

            }


        </div>
    </div>
</EditForm>

@if (!this.IsReadOnly)
{
    <FormInputDate Id="DDInput" Label="@Localizer["DueDate"]" @bind-Value="@RequestModel.DueDate" ValidationFor="@(()=>RequestModel.DueDate)" />
    @*<ValidationMessage For="()=> RequestModel.DueDate"></ValidationMessage>*@
}
else
{
    <label class="form-label"><b>@Localizer["DueDate"]</b></label>
    <p>@RequestModel.DueDate</p>
}
