@for (int i = 0; i < this.DocumentForm1.Count; i++)
{


    <div class="card ml-4 mt-4">
        <div class="card-header bg-white mr-4 ml-4">
            <div class="row">
                <div class="pr-10 pl-0" style="width:71%">
                    <i class="fas fa-paperclip"><span class="csf-span ml-1">@this.DocumentForm1[i].FileName</span></i>
                </div>
                <div class="ml-5">
                    <button class="small-buttons" @onclick="@(e => RemoveAttachment(i))">
                        <i class="far fa-trash-alt"><span class="pl-1 csf-span">Delete</span></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <EditForm EditContext="@this.EditContext">
                    <FluentValidationValidator />
                    <InputMultipleSelect UseSelectedItemsAsSelectTitle="true" Title="Document type(s)*" Id="DocumentTypesSelect" CheckBoxList="@this.DocumentForm1[i].DocumentTypeList" SelectTitle="Select Title Chris">
                        <SelectedItemTemplate Context="SelectItem">
                            <span>@SelectItem, </span>
                        </SelectedItemTemplate>
                    </InputMultipleSelect>
                    <FormInputSelect Id="InputSelect" Label="Document language*" SelectLabel="Select one" Required="required" @bind-Value="this.DocumentForm1[i].SelectValue" ValidationFor="@(() => this.DocumentForm1[i].SelectValue)">
                        @foreach (var item in this.DocumentForm1[i].Languages)
                            {
                            <option value="@item.Id">@item.Text</option>
                            }
                    </FormInputSelect>
                    <FormInputTextArea Id="InputTextArea" Label="Description" Required="required" Rows="2" Cols="50" @bind-Value="@this.DocumentForm1[i].Description" ValidationFor="@(() => this.DocumentForm1[i].Description)" />
                </EditForm>
            </div>
        </div>
    </div>
}