
@for (int index = 0; this.UploadedDocuments.Any() && index < this.UploadedDocuments.Count; index++)
{
    var i = index;

    <div class="card mt-4">
        <div class="card-header bg-white">
            <div class="d-flex">
                <div class="mr-auto "><i class="fas fa-paperclip"><span class="csf-span ml-1">@this.UploadedDocuments[i].FileName</span></i></div>
                <div class="" @onclick="@(e => ViewDocument(this.State.DocumentForm[i]))">
                    <div style="cursor: pointer;">
                        <a style="color: #1B50B1;">
                            <i class="fas fa-eye mr-2"></i>View
                        </a>
                    </div>
                </div>
                <div class="">
                    @if (!this.IsReadOnly)
                    {
                        <button class="small-buttons" @onclick="@(e => RemoveAttachment(i))">
                            <i class="far fa-trash-alt"><span class="pl-1 csf-span">Delete</span></i>
                        </button>


                    }
                </div>
            </div>

       
        </div>
        <div class="card-body">
            <div class="form-group">
                <EditForm EditContext="@this.EditContext" OnSubmit="HandleValidSubmit">
                    <FluentValidationValidator />
                    @if (!this.IsReadOnly)
                    {
                        <InputMultipleSelect UseSelectedItemsAsSelectTitle="true" Title="@Localizer["DocumentTypes"]" Id="DocumentTypesSelect" CheckBoxList="@this.UploadedDocuments[i].DocumentTypeList" SelectTitle=@Localizer["SelectDocType"]>
                            <SelectedItemTemplate  Context="SelectItem">
                                <span>@SelectItem, </span>
                            </SelectedItemTemplate>
                        </InputMultipleSelect>
                    }
                    else
                    {
                        <label class="form-label"><b>@Localizer["DocumentTypes"]</b></label>
                        string text = string.Empty;


                        @if (this.UploadedDocuments[i].DocumentType != null)
                        {
                              foreach (var item in this.UploadedDocuments[i].DocumentType)
                              {
                                    text += item.Description + ", ";
                              }

                              if (this.UploadedDocuments[i].DocumentType.Any())
                              {
                                    text = text.Remove(text.Length - 2);
                                    text = text.TrimEnd();
                                    <p>@text</p> 
                              }
                              else
                              {
                                    <p>N/A</p> 
                              }
                        }
                         else
                        {
                            <p>N/A</p>                        
                        }                    
                    }
                    @if (!this.IsReadOnly)
                    {
                        <FormInputSelect Id="InputSelect" Label="@Localizer["DocumentLanguage"]" SelectLabel=@Localizer["SelectLanguage"] Required="required" @bind-Value="this.UploadedDocuments[i].SelectValue" ValidationFor="@(() => this.UploadedDocuments[i].SelectValue)">
                            @foreach (var item in Constants.Languages)
                                    {
                                        <option value="@item.Id">@item.Text</option>
                                    }
                        </FormInputSelect>
                    }
                    else
                    {
                        <label class="form-label"><b>@Localizer["DocumentLanguage"]</b></label>
                        <p>@this.UploadedDocuments[i].Language</p>
                    }

                    @if (!this.IsReadOnly)
                    {
                        <FormInputTextArea Id="InputTextArea" Label="Description" Required="required" Rows="2" Cols="50" @bind-Value="@this.UploadedDocuments[i].Description" ValidationFor="@(() => this.UploadedDocuments[i].Description)" />
                    }
                    else
                    {
                        <label class="form-label"><b>@Localizer["Description"]</b></label>
                        <p>@this.UploadedDocuments[i].Description</p>
                    }
                </EditForm>
            </div>
        </div>
    </div>
}
