@inject IStringLocalizer<Common> Localizer

<Card HeaderClasses="csf-header">

    <Header>
        <h5>@Localizer["RequestDetails"]</h5>
        <CSF.Components.Buttons.Actions.CSFEditButton Text="@Localizer["Edit"]" />
    </Header>

    <Body>
        @if (Model != null)
        {
            <div><b>@Localizer["RequestType"]:</b></div>
            <div>@Model.RequestType</div>

            <br />

            <div><b>@Localizer["NewOrRenewal"]:</b></div>
            <div>@Model.CertificateType</div>

            <br />

            <div><b>@Localizer["TriageType"]:</b></div>
            <div>@Model.TriageType</div>
        } 
    </Body>

</Card>
