
<Card HeaderClasses="csf-header">

    <Header>
        <h5>Seafarer details</h5>
        <CSF.Components.Buttons.Actions.CSFEditButton />
    </Header>

    <Body>
        <RadzenAccordion Multiple="true">
            <Items>
                <RadzenAccordionItem Text="Tombstone summary">
                    <div><b>First and Last name:</b></div>
                    <div>@Model.FirstName  @Model.LastName</div><br>
                    <div><b>Candidate document number:</b></div>
                    <div>@Model.CDN</div><br>
                    <div><b>Date of birth:</b></div>
                    <div>@Model.DateOfBirth.ToShortDateString()</div><br>
                    <RadzenButton Style="background-color: #F7F9FC;color: #1A202C;
                        border: 1px solid #1A202C;margin: 0px;padding: 0 1rem;font-size: 14px;">View full profile</RadzenButton><br>
                    <br />
                </RadzenAccordionItem>

                <RadzenAccordionItem Text="Medical summary" Style="width: 300px">
                    <div><b>Fitness status:</b></div>
                    <div>@Model.FitnessStatus</div><br>
                    <div><b>Limitations:</b></div>
                    @if (Model.Limitations != null)
                        @foreach (var limitation in Model.Limitations)
                        {
                            <div>@limitation</div><br>
                        }
                    <div><b>Date of expiry:</b></div>
                    <div>@Model.DateOfExpiry</div><br>
                    <RadzenButton Style="background-color: #F7F9FC;color: #1A202C;
                        border: 1px solid #1A202C;margin: 0px;padding: 0 1rem;font-size: 14px;">
                        View full medical file
                    </RadzenButton><br>
                    <br />
                </RadzenAccordionItem>

                <RadzenAccordionItem Text="Certification summary">
                    <div><b>Current certificates:</b></div>
                    @if (Model.CurrentCertificates != null)
                        @foreach (var certificate in Model.CurrentCertificates)
                        {
                            <div style="font-style: normal; font-weight: 600; font-size: 14px; line-height: 24px;">@certificate.CertificateNameEnglish</div>
                            <div style="font-style: normal; font-weight: 300; font-size: 12px; line-height: 20px;">@certificate.ExpiryDate.ToShortDateString()</div>
                        }
                    <br>
                    <RadzenButton Style="background-color: #F7F9FC;color: #1A202C;
                        border: 1px solid #1A202C;margin: 0px;padding: 0 1rem;font-size: 14px;">
                        View full certification file
                    </RadzenButton><br>
                    <br />
                </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
    </Body>
</Card>
